.step-form-2 {
  display: table;
  width: 100%;
  margin-top: 22px;
  position: relative;
}
.step-form-2 .step-row-2 {
  justify-content: space-between !important;
  display: flex !important;
}

.step-form-2 .step-row-2:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #7283a7;
}
.steps {
  display: table-cell;
  text-align: center;
  position: relative;
}
.steps a {
  width: 70px;
  height: 70px;
  border: 2px solid #59698d;
  background-color: white !important;
  color: #59698d !important;
  border-radius: 50%;
  padding: 22px 18px 15px 18px;
  margin-top: -22px;
}
